<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="assets/js/main.js" defer></script>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="/assets/images/favicon.ico" sizes="any">
  <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">

  <meta name="theme-color" content="#111111" media="(prefers-color-scheme: dark)">
  <meta name="robots" content="index, follow">
  <meta name="title" content="Onkaparinga IT">
  <meta name="description" content="Your local mobile IT repair technicians.">

  <meta property="og:title" content="Onkaparinga IT">
  <meta property="og:description" content="Your local mobile IT repair technicians.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://onkaparingait.com/">
  <meta property="og:locale" content="en_AU">
  <meta property="og:image" content="https://onkaparingait.com/assets/images/river_logo_transparent.png">

  <meta name="twitter:title" content="Onkaparinga IT">
  <meta name="twitter:description" content="Your local mobile IT repair technicians.">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://onkaparingait.com/assets/images/river_logo_transparent.png">

  <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "53bb9a9066634d899cbf1331bcc5b624"}'></script><!-- End Cloudflare Web Analytics -->
</head>
<body>
  <header class="site-header">
    <nav aria-label="Primary">
      <button class="menu-toggle" type="button" aria-expanded="false" aria-controls="primary-menu">
        <span class="sr-only">Toggle navigation</span>
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul class="links-flex" id="primary-menu">
        <li><a class="nav-link" data-target="capabilities" href="#capabilities">Capabilities</a></li>
        <li><a class="nav-link" data-target="team" href="#team">Team</a></li>
        <li><a class="nav-link" data-target="location" href="#location">Location</a></li>
        <li><a class="nav-link" data-target="about" href="#about">About</a></li>
      </ul>
    </nav>
  </header>

  <main id="main-content">
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </main>
  <footer>
    <div class="footer-content">
      <div class="footer-copyright">&copy; 2025 Onkaparinga IT</div>
      <div class="footer-text">Designed and maintained by Nikolai Patrick and Morris Caines</div>
    </div>
  </footer>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" defer></script>
</body>
</html>
