@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300; /* Light weight */
    src: url('/assets/fonts/Ubuntu-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400; /* Regular weight */
    src: url('/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500; /* Medium weight */
    src: url('/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700; /* Bold weight */
    src: url('/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300; /* Light italic */
    src: url('/assets/fonts/Ubuntu-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400; /* Regular italic */
    src: url('/assets/fonts/Ubuntu-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 500; /* Medium italic */
    src: url('/assets/fonts/Ubuntu-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700; /* Bold italic */
    src: url('/assets/fonts/Ubuntu-BoldItalic.ttf') format('truetype');
}