@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300; /* Light weight */
    font-display: swap;
    src: url('/assets/fonts/Ubuntu-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300; /* Light italic */
    font-display: swap;
    src: url('/assets/fonts/Ubuntu-LightItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500; /* Medium weight */
    font-display: swap;
    src: url('/assets/fonts/Ubuntu-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700; /* Bold weight */
    font-display: swap;
    src: url('/assets/fonts/Ubuntu-Bold.woff2') format('woff2');
}
