@import './fonts.css';
body {
    font-family: Ubuntu, normal, serif;
    font-style: normal;
    font-weight: 300;

    margin: 0;

    background-color: #111;
    color: #eee;
}
.hero-text {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
h1 {
    text-align: center;
}
p {
    text-align: justify;
}
a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    color: #b0b0b0;
}
.nav-link {
    font-size: 1.25rem;
    padding: 1rem;
}
nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #111;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .25s ease;
    flex-shrink: 0;
    padding: 0 1.5rem;
    box-sizing: border-box;
}
.links-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
nav.scrolled {
    border-bottom: 1px solid #4f4d4d;

}
.landing {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section-box {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}
.section-divider {
    height: 1px;
    background: #4f4d4d;
    width: 90%;
    margin: 1rem auto;
}
.section-child {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.hero-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.capabilities {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 2px solid red;*/
    /*border-radius: 5px;*/
}
.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /*border: 2px solid red;*/
    /*border-radius: 5px;*/
}
.member-box {
    width: 100%;
}
.member-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #181818;
    padding: 1.5rem;
    border-radius: 10px;
    border: 1px solid #4f4d4d;
}
.member-img {
    border-radius: 5px;
}