@import './fonts.css';
body {
    font-family: Ubuntu, normal, serif;
    font-style: normal;
    font-weight: 300;

    margin: 0;

    background-color: #111;
    color: #eee;
}
.hero-text {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
h1 {
    text-align: center;
}
p {
    line-height: 1.35rem;
    text-align: center;
}
.min {
    color: #b0b0b0;
    font-size: 0.9rem;
    font-style: italic;
}
.phone {
    color: #b0b0b0;
}
a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    color: #b0b0b0;
}
button:hover {
    color: #b0b0b0;
}
button {
    border: none;
    background: none;
    color: #eee;
    font-family: Ubuntu, normal, serif;
    font-style: normal;
    font-weight: 300;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.nav-link {
    display: inline-block;
    font-size: 1.25rem;
    padding: 1rem;
}
nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .25s ease;
    flex-shrink: 0;
    padding: 0 1.5rem;
    box-sizing: border-box;
    z-index: 2000;
    flex-wrap: wrap;
}

.menu-toggle {
    display: none;
    position: fixed;
    top: 1rem;
    right: 1.25rem;
    z-index: 1000;
    cursor: pointer;
    
}

.menu-toggle span {
    display: block;
    width: 20px;
    height: 2px;
    background: #eee;
    margin: 4px 0;
    transition: transform .2s ease, opacity .2s ease;
}

.links-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    list-style: none;
}
nav.scrolled {
    border-bottom: 1px solid #4f4d4d;

}
.landing {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contact-email {
    margin-top: 1rem;
}

/*.landing {*/
/*    background-image: url('/assets/images/Onkaparinga_River_Background.jpg');*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-position: 50%;*/
/*    mask-image: linear-gradient(to bottom, rgba(17,17,17,1) 90%, rgba(17,17,17,1) 90%, rgba(17,17,17,0) 100%);*/
/*}*/

.section-box {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}
.section-divider {
    height: 1px;
    background: #4f4d4d;
    width: 90%;
    margin: 1rem auto;
    border: 0;
}
.section-child {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
}
.hero-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.capabilities {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 2px solid red;*/
    /*border-radius: 5px;*/
}
.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /*border: 2px solid red;*/
    /*border-radius: 5px;*/
}
.member-box {

}
.member-card {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #181818;
    padding: 1.5rem;
    border-radius: 15px;
    border: 1px solid #4f4d4d;
}
.member-img {
    border-radius: 10px;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 5rem;
    background-color: #181818;
    border-top: 1px solid #4f4d4d;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#nikolai {
    flex-direction: row;
}
#morris {
    flex-direction: row-reverse;
}
.member-card h2 {
    margin-top: 0;
    margin-bottom: 0;
}
.member-card h3 {
    margin-top: 0;
    margin-bottom: 0;
}
.member-card p {
    margin-bottom: 1.5rem;
    text-align: left;
}
.member-text-left {
    margin-right: 1rem;
}
.member-text-right {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
#map {
    width: 100%;
    height: 500px;
    border-radius: 12px;
    border: 1px solid #4f4d4d;
    overflow: hidden;
    background: #111;
}
strong {
    font-weight: 500;
}
.asterisk {
    cursor: pointer;
}
li {
    line-height: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
}
.section-header {
    width: 100%;
}
.section-title {
    text-align: center;
    margin-top: 0;
}
.section-subtitle {
    font-weight: 500;
    margin: 0.5rem 0 0.5rem;
    font-size: 1.1rem;
}
.map-wrapper {
    width: 100%;
}
.footer-copyright {
    margin-bottom: 1rem;
    text-align: center;
}
.footer-text {
    text-align: center;
}
@media screen and (max-width: 800px) {
    nav {
        justify-content: center;
        padding-right: 3.5rem;
        position: relative;
    }


    .links-flex {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        background: #111;
        border-bottom: 1px solid #4f4d4d;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);

        margin-top: 0;

    }

    nav.menu-open .links-flex {
        display: flex;
    }

    .member-text-left {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .member-text-right {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .nav-link {
        width: 100%;
        text-align: left;
        padding: 1rem 1.5rem;
        border-top: 1px solid #181818;
        display: block;
    }

    .menu-toggle {
        display: block;
    }

    #nikolai {
        flex-direction: column;
        align-items: center;
    }
    #morris {
        flex-direction: column;
        align-items: center;
    }

    .member-card {
        text-align: center;
    }
    .member-card p {
        text-align: center;
    }
}
