@import './fonts.css';
body {
    font-family: Ubuntu, normal, serif;
    font-style: normal;
    font-weight: 300;

    margin: 0;

    background-color: #111;
    color: #eee;
}
h1 {
    margin: 0;
}
a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    color: #b0b0b0;
}
.nav-link {
    font-size: 1.5rem;
    padding: 1rem;
}
nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #111;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .25s ease;
}
nav.scrolled {
    border-bottom: 1px solid #4f4d4d;

}
.landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.capabilities {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 2px solid red;*/
    /*border-radius: 5px;*/
}
.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /*border: 2px solid red;*/
    /*border-radius: 5px;*/
}