@import './fonts.css';
body {
    font-family: Ubuntu, normal, serif;
    font-style: normal;
    font-weight: 300;

    margin: 0;

    background-color: #111;
    color: #eee;
}
.hero-text {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
h1 {
    text-align: center;
}
p {
    text-align: justify;
    /*word-spacing: .05rem;*/
    line-height: 1.35rem;
}
a {
    text-decoration: none;
    color: #eee;
}
a,button:hover {
    color: #b0b0b0;
}
button {
    border: none;
    background: none;
    color: #eee;
    font-family: Ubuntu, normal, serif;
    font-style: normal;
    font-weight: 300;
}
.nav-link {
    font-size: 1.25rem;
    padding: 1rem;
}
nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #111;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .25s ease;
    flex-shrink: 0;
    padding: 0 1.5rem;
    box-sizing: border-box;
    z-index: 2000;
}

.links-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
nav.scrolled {
    border-bottom: 1px solid #4f4d4d;

}
.landing {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*.landing {*/
/*    background-image: url('/assets/images/Onkaparinga_River_Background.jpg');*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-position: 50%;*/
/*    mask-image: linear-gradient(to bottom, rgba(17,17,17,1) 90%, rgba(17,17,17,1) 90%, rgba(17,17,17,0) 100%);*/
/*}*/

.section-box {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}
.section-divider {
    height: 1px;
    background: #4f4d4d;
    width: 90%;
    margin: 1rem auto;
}
.section-child {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
}
.hero-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.capabilities {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 2px solid red;*/
    /*border-radius: 5px;*/
}
.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /*border: 2px solid red;*/
    /*border-radius: 5px;*/
}
.member-box {

}
.member-card {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #181818;
    padding: 1.5rem;
    border-radius: 15px;
    border: 1px solid #4f4d4d;
}
.member-img {
    border-radius: 10px;
}

#nikolai {
    flex-direction: row;
}
#morris {
    flex-direction: row-reverse;
}
.member-card h2 {
    margin-top: 0;
    margin-bottom: 0;
}
.member-card p {
    margin-bottom: 1.5rem;
    text-align: left;
}
.member-text-left {
    margin-right: 1rem;
}
.member-text-right {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
#map {
    overflow: hidden;
    background: #111;
}

@media screen and (max-width: 800px) {
    #nikolai {
        flex-direction: column;
        align-items: center;
    }
    #morris {
        flex-direction: column;
        align-items: center;
    }

    .member-card {
        text-align: center;
    }
    .member-card p {
        text-align: center;
    }
}